
.container {
    min-height: 50px;
    padding: 5px;
    margin: 50px;
    color: rgb(255, 255, 255);
    background: rgb(27, 82, 74);
  }

  .container-2 {
    min-height: 50px;
    padding: 5px;
    margin: 50px;

  }

  .container-3 {
    min-height: 50px;
    padding: 5px;
    margin: 50px;

  }

  .rounded {
    background: rgb(175, 174, 174);
  }

  body {
    background-color: rgb(182, 219, 211);
  }