
.container {
    min-height: 50px;
    padding: 10px;
    margin: 50px;
    color: rgb(255, 255, 255);
    background: rgb(27, 82, 74);
  }

  .container-2 {
    min-height: 70px;
    padding: 10px;
    margin: 70px;

  }

  .container-3 {
    min-height: 70px;
    padding: 10px;
    margin: 70px;
  }

  .container-4 {
    min-height: 70px;
    padding: 5px;
    margin: 70px;
    display: block;
    overflow: scroll;
    white-space: nowrap;
    max-width: 100%;
    max-height: 596px;
  }

  .rounded {
    background: rgb(175, 174, 174);
  }

  body {
    background-color: rgb(182, 219, 211);
  }